// 
// Variable
//  
$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$cardEasing: cubic-bezier(0.215, 0.61, 0.355, 1);

// 
// animations
// 
@-webkit-keyframes cup_anime {
    0% {
      left: -10px;
      bottom: -70px;
      opacity: 0.0;
    }
    100% {
      left: 0px;
      bottom: 0px;
      opacity: 1.0;
    }
  }
  
  @keyframes cup_anime {
    0% {
      left: -10px;
      bottom: -70px;
      opacity: 0.0;
    }
    100% {
      left: 0px;
      bottom: 0px;
      opacity: 1.0;
    }
  }
  
  @-webkit-keyframes tbl_anime {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }
  
  @keyframes tbl_anime {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
  }

.opener_vid {
    width: 100%;
    max-height: 500px;
    height: auto;
    position: relative;

    div {
        width: 100%;
        height: inherit;
        max-height: inherit;

        * {
            width: 100%;
            height: inherit;
            max-height: inherit;
            object-fit: fill;
        }
    }

    .rain_vid {
        position: absolute;
    }

    .tbl_img {
        position: absolute;
        // animation-name: tbl_anime;
        // animation-duration: 3s;
    }

    // .cup_img {
    //     position: inherit;
    //     background: url("../../media/main/_cup_shadow.png");
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     left: -550px;
    //     bottom: -50px;
    //     // animation-name: cup_anime;
    //     // animation-duration: 3s;
    //     // animation-delay: 0.5s;
    // }

    .ttl {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0px;
        height: 100%;
        max-height: 99.7%;
        padding-left: 60%;
        padding-right: 2%;
        padding-top: 15%;
        font-size: 5.5vw;
        color: lightyellow;
        text-align: right;
        z-index: 1;

        #ttl_txt1 {
            height: auto;
            text-align: right;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 10px 15px 0px 0px;
            border-top-left-radius: 50px;
        }

        #ttl_txt2 {
            font-size: 4.0vw;
            font-style: italic;
            height: auto;
            text-align: right;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 0px 15px 10px 0px;
            border-bottom-right-radius: 50px;
        }
    }
}

.disc_sec {
    #intro {
        margin: 20px 0px;
        text-align: justify;
        text-justify: inter-word;
        // font-family: 'Satisfy', cursive;
        font-family: 'Handlee', cursive;
        font-size: 20px;
    }
}

.members {
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.03);

    .mem_title {
        width: 100%;
        height: auto;
        font-family: 'Handlee', cursive;
        font-size: 3vw;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 1.9px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 0;
    }

    .mem_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;

        .mem_item {
            // width: 25%;
            height: auto;
            max-width: 250px;
            border-radius: 2.5em 0em;
            background: rgba(255, 255, 255, 0.9);
            margin: 0 3%;

            hr {
                width: 75%;
                background: rgba($color: #000000, $alpha: 0.12);
                height: 1px;
                border-color: rgba(0, 0, 0, 0);
                margin: 0 auto 10px auto;
            }

            .mem_img {
                width: 100%;
                // height: 100%;
                border-radius: 2.5em 0em 0em 0em;

                img {
                    width: 100%;
                    height: 70%;
                    border-radius: 2.5em 0em 0em 0em;
                }
            }

            .mem_name {
                width: 100%;
                padding: 10px 5px 5px 5px;
                text-align: center;
                font-family: 'Handlee', cursive;
                font-size: 1vw;
                font-weight: bold;
                border-radius: 0em 0em 2.5em 0em;
            }

            .mem_desc {
                width: 100%;
                padding: 0px 5px 10px 0px;
                text-align: center;
                font-family: 'Handlee', cursive;
                font-size: 1vw;
                border-radius: 0em 0em 2.5em 0em;
            }
        }
    }
}

// 
// control card css
// 
.mem_container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
    // background-color: #fff;

    &:hover {
        .card-info {
            transform: translateY(0);
        }

        .card-info p {
            opacity: 1;
        }

        .card-info,
        .card-info p {
            transition: 0.6s $hoverEasing;
        }

        .card-info:after {
            transition: 5s $hoverEasing;
            opacity: 1;
            transform: translateY(0);
        }

        .card-bg {
            transition:
                0.6s $hoverEasing,
                opacity 5s $hoverEasing;
            opacity: 0.8;
        }

        .card {
            transition:
                0.6s $hoverEasing,
                box-shadow 2s $hoverEasing;
            box-shadow:
                rgba(white, 0.2) 0 0 40px 5px,
                rgba(white, 1) 0 0 0 1px,
                rgba(black, 0.66) 0 30px 60px 0,
                inset #333 0 0 0 5px,
                inset white 0 0 0 6px;
        }
    }
}

.card {
    position: relative;
    flex: 0 0 240px;
    width: 240px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:
        rgba(black, 0.66) 0 30px 60px 0,
        inset #333 0 0 0 5px,
        inset rgba(white, 0.5) 0 0 0 6px;
    transition: 1s $returnEasing;
}

.card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition:
        1s $returnEasing,
        opacity 5s 1s $returnEasing;
    pointer-events: none;
}

.card-info {
    padding: 20px 15px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s $cardEasing;
    max-width: 100%;

    p {
        opacity: 0;
        text-shadow: rgba(black, 1) 0 2px 3px;
        transition: 0.6s 1.6s $cardEasing;
    }

    * {
        position: relative;
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
        background-blend-mode: overlay;
        opacity: 0;
        transform: translateY(100%);
        transition: 5s 1s $returnEasing;
    }
}

.card-info h1 {
    font-family: "Playfair Display";
    font-size: 28px;
    font-weight: 700;
    text-shadow: rgba(black, 0.5) 0 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}